body{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #000;
    --second-bg-color: #323946;
    --text-bg-color: #fff;
    --main-bg-color: #562BB0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    /* background: var(--bg-color); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo{
    font-size: 2.5rem;
    color: var(--text-bg-color);
    font-weight: 600;
    cursor: pointer;
}
.navbar a {
    font-size: 1.2rem;
    background: #000;
    color: var(--text-bg-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-bg-color);

}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-bg-color);
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}
span{
    color: var(--main-bg-color);  

}
span p{
    font-size: medium;
    font-weight: 1.5rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 2rem;
}

.linha-horizontal{
    width: 1100px;
    border: 2px solid var(--main-bg-color);
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
}
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background-color: #000;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 4.2rem;
    }
}

@media (max-width: 450px){
    .home-content h1{
        font-size: 2.6rem;
    }
    .home-content h3{
        font-size: 1.6rem;
    }
    
}

#container {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

#img img {
    width: 31rem;
}

.text {
    max-width: 450px;
    background: #1d1d1d;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.4);
    font-family: sans-serif;
    padding: 20px;
    text-align: justify;
}

.text h3{
    display: block;
    text-align: center;
}


#container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
    color: #d1d5db;
}

#calculator {
    background-color: #1d1d1d;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.323);
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#calculator h2 {
    font-size: 25px;
    position: relative;
}

#calculator h2::before{
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    background-color: #562BB0;
    bottom: 1px;
}

#input_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-field {
    border: none;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field label {
    font-size: 15px;
    color: #c8ced6;
    font-weight: 500;
}

.input-field input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #562BB0;
    color: #fff;
    font-size: 20px;
    padding: 5px;
}

.input-field input:focus {
    outline: none;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.input-field input:focus {
    outline: none;
}
#result {
    text-align: center;
}

#total {
    font-size: 40px;
}

#calculate {
    background-color: #562BB0;
    border: none;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}